<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="connectString" connectionString="Data Source=ADMIN;Initial Catalog=QUANLYGIANGDAY;Integrated Security=True" />
  <add name="BTL_LTHSK.Properties.Settings.QUANLYGIANGDAYConnectionString"
   connectionString="Data Source=ADMIN;Initial Catalog=QUANLYGIANGDAY;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>